@tailwind base;
@tailwind components;
@tailwind utilities;

#texto > h2{
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: -15px;
}

@media(min-width:768px){
    #texto > h2{
        font-size: 1.75rem;
        font-weight: 800;
    }
    
}
.roboto {
    font-family: 'roboto';
  }

.foto{
    aspect-ratio: 4 / 3;
    object-fit: cover;
    overflow: hidden;
}
